<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pokemon.name %></title>
    <link rel="stylesheet" href="/style.css" />
    <%- include('partials/header') %>
  </head>
  <body>
    <h1>Pokedex</h1>

    <h2><%= pokemon.name %></h2>
    <img src="<%= pokemon.sprite %>" alt="<%= pokemon.name %>" />
    <ul>
      <% pokemon.types.forEach(type => { %>
      <li><%= type %></li>
      <% }) %>
    </ul>
    <h3>Stats</h3>
    <ul>
      <% for (let stat in pokemon.stats) { %>
      <li><%= stat %>: <%= pokemon.stats[stat] %></li>
      <% } %>
    </ul>

    <a href="/">Takaisin Pokedexiin</a>

    <%- include('partials/footer') %>
  
